body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header,
.content,
.footer {
    display: flex;
    flex: 1;
}

/* Header */
.header {
    background-color: lightgray;
}

.menu-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 3px solid rgb(122, 181, 230);
}

.menu-item:nth-child(1) {
    background-color: rgb(2, 8, 43);
}

.menu-item:nth-child(2) {
    background-color: rgb(10, 24, 102);
}

.menu-item:nth-child(3) {
    background-color: rgb(19, 37, 136);
}

.menu-item:nth-child(4) {
    background-color: rgb(40, 62, 184);
}

.menu-item:nth-child(5) {
    background-color: rgb(69, 92, 219);
}

/* Content */
.content {
    flex: 3;
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(9, 48, 99);
}

.left-column {
    background-color: rgb(189, 217, 236)
}

/*.right-column {
    background-color: pink;
}
*/

.right-column-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 3px solid rgb(45, 72, 88);
}

/* Different background colors for right column items */
.right-column-item:nth-child(1) {
    background-color: rgb(161, 197, 223);
}

.right-column-item:nth-child(2) {
    background-color: rgb(120, 172, 209);
}

.right-column-item:nth-child(3) {
    background-color: rgb(85, 142, 184);
}

.right-column-item:nth-child(4) {
    background-color: rgb(53, 112, 155);
}

.right-column-item:nth-child(5) {
    background-color: rgb(30, 83, 121);
}

.right-column-item:nth-child(6) {
    background-color: rgb(14, 58, 90);
}

.right-column-item:nth-child(7) {
    background-color: rgb(4, 32, 53);
}

/* Add different colors for each row as needed */

/* Footer */
.footer {
    background-color: rgb(36, 97, 105);
    gap: 15px;
    border: 3px solid rgb(186, 226, 231);
}

.footer-column {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.footer-column:nth-child(1) {
    background-color: rgb(92, 180, 192);
}

.footer-column:nth-child(2) {
    background-color: rgb(43, 134, 146);
}

.footer-column:nth-child(3) {
    background-color: rgb(10, 76, 85);
}